.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-input {
  border-radius: 2em;
  border: 1px solid black;
  padding: 1em 3em;
  color: gray;
  font-size: 1.2em;
  width: 50%;
  margin: 1em;
}

.App-card {
  padding: 2em;
  border: 1px solid gray;
  margin: 2em;
  cursor: pointer;
  border-radius: 1em;
  color: gray;
}

.App-card:hover {
  background: rgba(0, 0, 0, 0.05);
  color: black;
}

.App-card-name {
  font-weight: bold;
  font-size: 1.5em;
}

.App-card-title {
  font-size: 1em;
}
